<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TTU 运维管理</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script type="text/javascript" src="/js/jquery.js" ></script>
</head>
<body>
<div class="head">
    <div class="head_left"></div>
    <div class="head_middle">TTU运维管理</div>
    <div class="head_right">
        管理员：{{.UserName}} | <a id="logout" href="#">退出系统</a><br/>
        {{.SysTime}} &nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</div>
<div class="content">
    <div class="left_menu">
        <div class="label"><a id="basic" class="label" href="#">基本信息</a></div>
        <div class="label"><a id="config" class="label" href="#">配置信息</a></div>
        <div class="label"><a id="status" class="label" href="#">状态信息</a></div>
        <div class="labeled"><a id="upload" class="labeled" href="#">升级管理</a></div>
    </div>
    <div class="right_content">
       <form id="uploadform" enctype="multipart/form-data" action="/ajax/upload" form-redirect="/upload/index">
          <input type="file" name="uploadfile" />
          <input type="hidden" name="token" value="{{.Token}}"/>
          <input type="submit" value="上传文件" />
          <span id="progress" style="color:green;"></span>
        </form>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/base.js" ></script>
</html>
